//COLORS
$seashell: #fff4f1;
$apricot: #ffccbd;
$champagne: #ffebdf;
$lavender: #fff2f3;
$brown: #997d76;
$orange: #e8ac95;

//FONTS
$montserrat: "Montserrat", sans-serif;
$playfair: "Playfair Display", serif;
$poppins: "Poppins", sans-serif;

html {
  max-width: 100%;
  height: 100vh;
}

#wave {
  position: absolute;
  overflow: hidden;
  z-index: -1;
  width: 100%;
  margin-left: -0.5rem;
  transform: scaleY(1.05);
}

.container {
  width: 90%;
  margin: 0 auto;
}

body {
  background-color: $seashell;
}

.navbar #nav {
  display: flex;
  align-items: center;
  gap: 60%;
  margin-bottom: 6rem;

  #join {
    font-family: $montserrat;
    background-color: $lavender;
    border: 2px solid $orange;
    border-radius: 30px;
    box-shadow: $orange 4px 4px 0 0;
    color: $brown;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  #join:hover {
    background-color: $champagne;
  }
  #join:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
}
.navbar #nav ul {
  display: flex;
  width: 30%;
  gap: 2rem;
  align-items: center;
  list-style: none;
  margin: 3rem 0 3rem 0;
  padding: 0;

  li > a {
    text-decoration: none;
    color: $brown;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: $montserrat;
    font-weight: 500;
  }
}

main {
  margin-bottom: 5rem;
  .main-info {
    margin-bottom: 10rem;
    text-align: center;
    h1 {
      margin: 0;
      margin-top: 10rem;
      font-family: $playfair;
      font-size: 5rem;
      font-weight: 900;
      color: $orange;
      text-shadow: 0 13.36px 8.896px #c4b59d, 0 -2px 1px #fff;
    }
    h2 {
      display: inline-block;
      margin: 0;
      margin-top: 0.5rem;
      margin-bottom: 2.5rem;
      letter-spacing: 0.5rem;
      font-family: $montserrat;
      font-size: 2.5rem;
      font-weight: 500;
      color: #c3a9a1;
    }
    p {
      margin: 0 auto;
      margin-bottom: 2rem;
      font-family: $poppins;
      color: $brown;
      font-weight: 400;
      width: 50%;
      font-size: 1.2rem;
      letter-spacing: 1px;
      text-align: center;
    }

    .main-info__button {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2.5rem;
      #schedule {
        background-color: $champagne;
        color: $brown;
        font-family: $poppins;
        padding: 0.5rem 1rem;
      }
      #appointment {
        background-color: $orange;
        color: $lavender;
        font-family: $poppins;
        font-size: 1.4rem;
        font-weight: 600;
        padding: 0.5rem 1rem;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.5s;
        &:hover {
          box-shadow: #ecb3a1 0px 5px, #f3c2b8 0px 10px, #f9d1cd 0px 15px, #fce1e1 0px 20px, #fff2f3 0px 25px;
        }
      }
    }
  }
}

.booking {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  #model {
    width: 50%;
    justify-self: center;
  }
  .booking-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $poppins;
    font-size: 2rem;
    color: $brown;
    justify-self: start;

    .number {
      background-color: $champagne;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    p {
      font-size: 1.5rem;
    }
    #wa-button {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: $lavender;
      background-color: $orange;
      border-radius: 10px;
      padding: .5rem 0;
      i {
        margin-right: 1rem;
      }
    }
  }
}
